/node_modules
/bootstrap
/public/hot
/public/storage
/public/upload/
/public/public
/public/images
/public/tmp/
/public/assects
/public/vendor
/public/.well-known

/public/*.rar
/storage
/test
/upload/cate
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
